.weatherLogo{
    width: 140px;
    margin-top: 100px;
    height: 140px;
    margin: 40px auto;
   
}
.cityLabel{
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 10px auto;
}
.form{
    display: flex;
    flex-direction: row;
    border: black solid 1px;
    border-radius: 2px;
    color: black;
    /* /* margin-top: 20px; */
    margin: 20px auto;
    /* margin-left: 10px; */ 

    
}
.form{
    outline: none;
    border: none;

}
form > input{
    padding: 15px;
    font-size: 15px;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 20px;
   
}
form > button{
    padding: 10px;
    font-size: 15px;
    color: white;
    background: black;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}
.cityInfo{
    display: flex;
    align-items: self-start;
}