/* .App{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    box-shadow: 0 3px 6px 0 #555;
    padding: 20px 10px;
    border-radius: 4px;
    background: white;
    font-family: Montserrat; 
    position: fixed;
  
  } */
  .AppWeather{
    background-image: url(https://getwallpapers.com/wallpaper/full/2/9/4/1232997-background-pics-1920x1512-ipad-pro.jpg);
    height: 900px;
  }
  .title{
    color: black;
    font-size: 40px;
    font-weight: bold;
    
  }
  .appCity{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    box-shadow: 0 3px 6px 0 #555;
    padding: 20px 10px;
    border-radius: 4px; 
    width: 500px;
    height: 400px;
    background: white;
    font-family: Montserrat;
    
  
  }
  .appWeather{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    box-shadow: 0 3px 6px 0 #555;
    padding: 20px 10px;
    border-radius: 4px;
    width: 300px;
    height: 550px;
    background: white;
    font-family: Montserrat;
    position: fixed;
  
  }
  /* .map{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: last baseline;
    box-shadow: 0 3px 6px 0 #555;
    padding: 20px 10px;
    border-radius: 4px;
    width: 400px;
    height: 550px;
    background: white;
    font-family: Montserrat;
    position: fixed; 
  }
   */
  